@using System.Globalization
@using DeependCheque.Models
@model ChequeDetailsViewModel

<div class="row">
    <div class="col-lg-12">
        <h2> Cheque Detail</h2>
        <hr/>
    </div>

    <div class="col-lg-1">
        <strong> @Html.DisplayNameFor(i => i.Name):</strong>
    </div>

    <div class="col-lg-11">
        @Html.DisplayFor(i => i.Name)
    </div>

    <div class="col-lg-1">
        <strong> @Html.DisplayNameFor(i => i.Date):</strong>
    </div>

    <div class="col-lg-11">
        @Html.DisplayFor(i => i.Date)
    </div>

    <div class="col-lg-1">
        <strong> @Html.DisplayNameFor(i => i.Amount):</strong>
    </div>

    <div class="col-lg-11">
        @Html.DisplayFor(i => i.Amount)
    </div>

    <div class="col-lg-1">
        <strong> @Html.DisplayNameFor(i => i.Pay):</strong>
    </div>

    <div class="col-lg-11">
        @Html.DisplayFor(i => i.Pay)
    </div>
</div>